.content #article-grid-container .article-list-entry.large
  width: 896px
  height: 304px
  box-shadow: 0 1px 2px rgba(0,0,0,0.55)
  border-radius: 0px
  background: none repeat scroll 0% 0% #FCFCFF
  margin: 10px 14px

.content #article-grid-container .article-list-entry.large .thumbnail
  rounded-image(603px, 304px, 0px 0px 0px 0px)
  overflow: hidden
  display: inline-block
  float: right
  
.content #article-grid-container .article-list-entry.large .article-summary
  display: inline-block
  float: right
  padding: 6px 10px 4px

.content #article-grid-container .article-list-entry.large h1, h2, h3
  font-family: "Oswald"
  margin: 0px 0px
  
.content #article-grid-container .article-list-entry.large h1
  font-size: 36px
  line-height: 43px
  font-weight: 400
  padding-bottom: 0px
  letter-spacing: -0.5px
  width: 273px
  height: 271px

.content #article-grid-container .article-list-entry.large .article-summary .header
  border-top: #CCC solid 1px
  padding: 2px 3px 0px

.content #article-grid-container .article-list-entry.large .article-summary .header h2
  line-height: 20px
  font-size: 14px
  color: #AAA
  font-weight: 300

.content #article-grid-container .article-list-entry.large .article-summary .header h2.category
  display: inline-block
  float: left
  width 190px
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  
.content #article-grid-container .article-list-entry.large .article-summary .header h2.date
  display: inline-block
  float: right
  width: auto