.no-box-shadow
	box-shadow none !important

.content #article-container
	margin-top 22px
	margin-bottom 22px
	margin-left calc(50% - 600px / 2)
	margin-right calc(50% - 600px / 2)
	max-width 570px
	width 570px
	opacity 0.0

#article-container.enter
	animation-fill-mode forwards
	animation-name slide-in-top
	animation-duration 400ms
	animation-timing-function ease-in-out
	animation-delay 0ms
	animation-iteration-count 1
	animation-fill-mode both

#article-container.exit
	animation-fill-mode forwards
	animation-name fade-out
	animation-duration 200ms
	animation-timing-function ease-in-out
	animation-delay 0ms
	animation-iteration-count 1
	animation-fill-mode both

.content #article-container p, h1, h2
	font-family "DroidSerif"

.content #article-container p
	font-size 20px
	line-height 34px
	font-weight 300
	margin 2em 0em
  
.content #article-container .header
	margin 0 0 0 0
	padding 2em 0 0 0
  
.content #article-container .header *
	font-family "Oswald"
	font-weight 400

.content #article-container .header h1
	text-transform uppercase
	font-size 38px
	line-height 42px
	margin 0px
  
.content #article-container .header h2
	font-size 24px
	opacity 0.46
	//padding-top 0px

.content #article-container h3
	font-size 28px
	margin-bottom -1em
	padding-top 28px
	font-weight 400
	letter-spacing -0.5px
	
.content #article-container .caption, .content #article-container figcaption
	font-family "DroidSerif"
	font-size 18px
	color rgb(150,150,150)
	font-weight 300
	line-height 24px
	margin 0

.content #article-container p strong
	text-transform uppercase
	font-style normal
	font-size 20px
	font-weight bold
	margin-right 3px
	
.content #article-container code
	padding 15px 30px
	margin 0 -90px 0 -60px
	box-shadow 0 1px 6px 0 #666
  
.content #article-container figcaption
	vertical-align bottom
	box-sizingborder-box

.content #article-container .full-width
	margin-top 30px
	margin-left -60px
	margin-right -60px
	margin-bottom 30px
	position relative

.content #article-container .full-width img
	max-width 720px
	width 720px
	display block
  
.content #article-container .full-width figcaption
	width calc(100% - 105px)
	padding 5px 0 5px 60px

.content #article-container .left-img
	float left
	margin 15px 15px 0px -60px
	position relative
  
.content #article-container .right-img
	float right
	margin 15px -90px 0px 15px
	position relative

.content #article-container .left-img img, .content #article-container .right-img img
	max-width 330px
	display block
  
.content #article-container .left-img figcaption, .content #article-container .right-img figcaption
	width 320px
	margin 5px 0 0 5px
  
.content #article-container .full-width img, .content #article-container .right-img img, .content #article-container .left-img img
	box-shadow 0 1px 6px 0 #666
  
.content #article-container .mb-lg
	margin-bottom 30px

.content #article-container .mt-lg
    margin-top 50px
    
.content #article-container li
	font-family "DroidSerif"
	font-style normal
	font-size 22px
	font-weight 300
  
.content #article-container ol
	padding-left 35px
  
.content #article-container li p
  margin-left 3px
  
.content #article-container pre
  margin 50px -75px 0px -45px
  
.content #article-container .metadata
	margin -30px 0 30px 0
	
.content #article-container .metadata ul
	display inline-block !important
	margin 0
	padding 0
  
.content #article-container .metadata li:hover
	cursor pointer
  
.content #article-container .metadata span, .content #article-container .metadata li
	font-size 22px
	font-weight 300
	cursor default
	display inline-block

.content #article-container .metadata .authors
	margin 10px 0 60px 0
	float right

.content #article-container .metadata .authors li
	font-family Parisienne
	font-size 24px
	margin-right 10px
	
.content #article-container .metadata .authors 	li:hover
	text-decoration underline

.content #article-container .metadata .topics *
	font-family "Oswald"

.content #article-container .metadata .topics li
	margin-right 10px
	margin-bottom 10px
	padding 0 10px
	border 1px solid rgb(222,222,222)
	
.content #article-container .metadata .topics li:hover
	border 1px solid rgb(33,33,33)
  